/*Style Body*/

body {
    font: 100% Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

/*Style Header*/
header {
    border: 1px solid rgb(34, 116, 172);
    border-radius: 5px;
    color: #402300;
    background-color: #072AC8;
    padding: 2%;
    background-image: url("../Images/log.png");
    background-position: left;
    background-size: 9%;
    background-repeat: no-repeat;
}

header li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(34, 116, 172);
}

header h1 {
    background-image: url("../Images/fon.jpg");
    margin-left: 10%;
    width: fit-content;
    right: 100%;
    margin-left: 6%;
}


nav {
    padding-top: 10px;
}

.formulaireLogin {
    background-color: rgb(30, 150, 252);
    font-size: 100%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 60px;
    padding: 20px 30px 10px;
    border-radius: 0 0 20px 0;
}

#boutonConnexion {
    background: #041A6B none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    margin-left: 50%;
}

.ChampFormulaire {
    width: 100%;
    padding: 1em 0.5em 0.6em;
}

footer {
    text-align: center;
}

H1{
    display: table;
    margin: 0 auto;;
}

/******************Formulaire Personne ************/
.formulairePersonne{
    background-color: rgba(35, 150, 248, 0.03);
    font-size: 100%;
    padding: 20px 30px 10px;
    border-radius: 0 0 20px 0;
    display: flex;
    flex-flow: column;
}
.boutonAjoutPersonne{
    background: #041A6B none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    margin-left: 70%;
    margin-right: 10%;
}
.ChampFormulaireajoutPersonne{
    width: 15%;
//padding: 1em 0.5em 0.2em;
    height: auto;
//vertical-align: top;
}
.labelAjoutPers{
    width: 100%;
    padding: 1em 0.5em 0.6em;
    display: inline-block;
    width: 200px;
    font-weight: bold;
//vertical-align: top;
}

.table{
    border: 2px solid black;
    mso-cellspacing: 1px;
    height: 100%;
    width: 100%;
    position: absolute;
}
.table:hover {
    color: red;
}